<div class="row">
  <div class="col-md-6">
		<img src="<%= asset_path 'batman2.jpg'%>" class="img-responsive">
		<a href="<%= pages_batman_path %>">BATMAN</a>
  </div>
  <div class="col-md-6">
		<img src="<%= asset_path 'superman2.jpg'%>" class="img-responsive">
		<a href="<%= pages_superman_path %>">SUPERMAN</a>
  </div>
</div>

